.notesWpr {
    max-height: 400px;
    overflow-y: auto;

    .noTasks {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

@media only screen and (max-width: 768px) {
    .notesWpr {
        flex: 1;
        padding-bottom: 12px;
        max-height: unset;
    }
}